body {
    background: url('../assets/images/project_images/red-rich.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
}

.header button {
    height: 100%;
    width: calc(100%/3);
    outline: none;
    border: none;
    cursor: pointer;
    border-right: 5px solid black;
    border-left: 5px solid black;
    background-color: rgba(255, 255, 255, 0.739);
    font-size: 80%;
}

.header button:hover {
    background-color: transparent;
    color: white;
    font-weight: bold;
}

#container {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 100px;
    height: calc(100% - 100px);
    width: 100%;
}

#users-table {
    direction: ltr;
    width: 80% !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.644);
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user {
    position: relative;
    margin-top: 2vw;
    height: 300px;
    width: 80%;
    user-select: none;
}

.user * {
    user-select: none;
    font-size: x-large !important;
}

.hide {
    display: none;
}

form {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

form * {
    border: none;
    box-shadow: none;
    outline: none;
}

form input {
    direction: rtl;
    width: 40%;
    border: none;
}

form button {
    background-color: black;
    border: none;
}